@page
@model MeetMVC.Areas.Identity.Pages.Account.Manage.InterestsModel
@{
    
    <link rel="stylesheet" href="/css/mdb.dark.min.css">
    <script type="text/javascript" href="/js/mdb.min.js"></script>

    <select class="select" multiple>
  <option value="1">Sports</option>
  <option value="2">Cooking</option>
  <option value="3">Gaming</option>
  <option value="4">Reading</option>
  <option value="5">Yoga</option>
  <option value="6">Art</option>
</select>
<label class="form-label select-label">Example label</label>

}
